

.help-box {
    display: inline-block;
    box-sizing: border-box;
    color: #25b9d7;
    background-color: #dff5f9;
    height: 1rem;
    width: 1rem;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    vertical-align: middle;
    text-align: center;
    border: 2px solid #25b9d7;
    border-radius: 10px;
    cursor: pointer;
    padding: 0;
    margin: 0 20px 5px 2px;
}
.help-box::after {
    content: '?';
}


.col-lg-5{
    text-align: right;
    padding-top: 6px;
}

.centered-box{
    width:80%;
    margin:0 auto;

}

.popover{
    width: 250px ;

}



 .panel-heading{
     margin-bottom: 75px;
 }